{% extends "admin_base.html" %}
{% from "admin_base.html" import menuitem %}
{% block title %}仪表盘{% endblock %}
{% block menu %}
    {{ menuitem("仪表盘", url_for("dashboard"), "dashboard", active=True) }}
    {{ menuitem("项目列表", url_for("project_management"), "browser") }}
    {{ menuitem("通用设置", url_for("general_config"), "configure") }}
    {{ menuitem("新建项目", url_for("new_project"), "add circle") }}
{% endblock %}

{% block content %}
    <div class="center aligned sixteen wide column">
        <div class="ui statistic">
            <div class="value">{{data.new_click}}</div>
            <div class="label">今日浏览量</div>
        </div>
        <div class="ui statistic">
            <div class="value">{{data.total_click}}</div>
            <div class="label">总浏览量</div>
        </div>
        <div class="ui statistic">
            <div class="value">{{data.project_number}}</div>
            <div class="label">项目数</div>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="header">最近一周访问量排名</h3>
            </div>
            <div class="ui secondary segment">
            </div>
        </div>
    </div>
{% endblock %}