{% extends "admin_base.html" %}
{% from "admin_base.html" import menuitem %}
{% block title %}仪表盘{% endblock %}
{% block menu %}
    {{ menuitem("仪表盘", url_for("dashboard"), "dashboard") }}
    {{ menuitem("项目管理", url_for("project_management"), "browser") }}
    {{ menuitem("通用设置", url_for("general_config"), "configure") }}
    {{ menuitem("新建项目", url_for("new_project"), "add circle", active=True) }}
{% endblock %}

{% block content %}
<div class="sixteen wide column">
    <div class="ui segments">
        <div class="ui segment">
            <h3 class="header">新建项目</h3>
        </div>
        <div class="ui secondary segment">
            <form class="ui form">
                <div class="two fields">
                    <div class="field">
                        <label>项目名称</label>
                        <input type="text" name="project_name">
                    </div>
                    <div class="field">
                        <label>模板类型</label>
                        <select name="project_type" class="ui dropdown">
                                <!-- TODO Gen the all the options -->
                            <option value="">请选择项目类型</option>
                            {% for i,j in project_types.items() %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label>备注</label>
                    <textarea name="comment" width="100%"></textarea>
                </div>
                <div class="ui green submit button">新建</div>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{url_for("static", filename='js/api.js')}}"></script>
<script>
$(function(){
    $('.ui.dropdown').dropdown();
    $('form').form({
        name: {
            identifier: "project_name",
            rules:[{
                type: "empty",
                prompt: "请填写项目名称"
            }]
        },
        type: {
            identifier: "project_type",
            rules:[{
                type: "empty",
                prompt: "请选择项目类型",
            }],
        }
    }, {
        inline: true
    }).api({
        action: "new project",
        method: "POST",
        successTest: function(ret){
            return ret.err == 0;
        },
        onSuccess: function(ret){
            $('form .message').addClass('success').text('成功创建项目，正在进入项目设置')
            setTimeout(function(){
                window.location.pathname = "/admin/project/" + ret.id;
            }, 1000)
        },
        onFailure:function(ret){
            $(this).removeClass('success').addClass('error')
            $('form .message').addClass('error').text('Error: ' + ret.message + "，Error Code:" + ret.err)
        },
        onError: function(ret){
            $(this).removeClass('success').addClass('error')
            $('form .message').addClass('error').text("服务器似乎出了一点问题 (O_O)？")
        }
    })
})

</script>
{% endblock %}