{% extends "admin_base.html" %}
{% from "admin_base.html" import menuitem %}
{% block title %}仪表盘{% endblock %}
{% block menu %}
    {{ menuitem("仪表盘", url_for("dashboard"), "dashboard") }}
    {{ menuitem("项目列表", url_for("project_management"), "browser", active=True) }}
    {{ menuitem("通用设置", url_for("general_config"), "configure") }}
    {{ menuitem("新建项目", url_for("new_project"), "add circle") }}
{% endblock %}
{% block content %}
<div class="sixteen wide column">
    <div class="ui segments">
        <div class="ui segment">
            <h3 class="header">项目列表</h3>
        </div>
        <div class="ui secondary segment">
            <table class="ui table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>名称</td>
                        <td>创建时间</td>
                        <td>访问量</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    {% for p in projects %}
                        <tr>
                            <td>{{p.hmac}}</td>
                            <td>{{p.name}}</td>
                            <td>{{p.time}}</td>
                            <td>{{p.click}}</td>
                            <td><a href="{{url_for('project_operation', project=p.hmac)}}" class="ui positive button">编辑</a></td>
                        </tr>
                    {% else %}
                        <h4 class="ui header">没有项目</h4>
                    {% endfor %}
                </tbody>
            </table>
            <div class="ui center aligned header">共 {{ projects | length }} 个项目</div>
        </div>
    </div>
</div>
{% endblock %}
