{% extends "admin_base.html" %}
{% from "admin_base.html" import menuitem %}
{% block title %}{{data.name}} | 项目设置{% endblock %}
{% block menu %}
    {{ menuitem("仪表盘", url_for("dashboard"), "dashboard") }}
    {{ menuitem("项目列表", url_for("project_management"), "browser") }}
    {{ menuitem("项目：" + data.name, url_for("project_operation", project=pid) , 'write')}}
{% endblock %}

{% block content %}
<div class="sixteen wide column">
    <div class="ui sixteen wide column">
        这里应该有个插件显示访问两
    </div>
    <div class="ui segments">
        <div class="ui segment">
            <h3 class="header">项目: {{data.name}}</h3>
        </div>
        <div class="ui secondary segment">
            <form class="ui form">
                <div class="two fields">
                    <div class="field">
                        <label>项目名称</label>
                        <input readonly="readonly"　type="text" value="{{data.name}}">
                    </div>
                    <div class="field">
                        <label>模板类型</label>
                        <input readonly="readonly" type="text" value="{{data.project_type}}">
                    </div>
                </div>
                <div class="field">
                    <label>备注</label>
                    <textarea name="comment" readonly="readonly" width="100%">{{data.comment}}</textarea>
                </div>
            </form>
        </div>
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="header">项目操作</h3>
            </div>
            <div class="ui secondary segment">
                {% for i, j in actions.items() %}
                    <a href="{{url_for(data.project_type+"."+j.__name__, p=pid)}}" class="ui button positive">{{i}}</a>
                {% else %}
                    <h4>没有操作</h4>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{url_for("static", filename='js/api.js')}}"></script>
{% endblock %}