{% extends "admin_base.html" %}
{% from "admin_base.html" import menuitem %}
{% block title %}仪表盘{% endblock %}
{% block menu %}
    {{ menuitem("项目概览", url_for("project_operation", project=project), "setting") }}
    {{ menuitem("图片管理", url_for("slide.slide_pictures_management", project=project), "sitemap", active=True) }}
{% endblock %}

{% block content %}
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui segment">
                <h3 class="header">图片列表</h3>
            </div>
            <div class="ui attached secondary segment">
                <table class='ui table'>
                    <thead>
                        <tr>
                            <td>序号</td>
                            <td>预览</td>
                            <td>说明文字</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in pics %}
                        <tr data-fid="{{i.file}}" data-order="{{i.order}}" data-info={{i.info | tojson}}>
                            <td>{{i.order}}</td>
                            <td><a href="/f/{{i.file}}" target="_blank"><img class='ui small image' src="/f/{{i.file}}"></a></td>
                            <td>{{i.info}}</td>
                            <td><div class="ui buttons">
                                <div class="ui del red button">删除</div>
                                <div class="ui yellow change button">修改文字</div>
                                <div class="ui green up button">上移</div>
                                <div class="ui green down button">下移</div>
                            </div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <ui class="ui fluid positive bottom attached button" id="add">
                添加
            </ui>
        </div>
    </div>
    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        添加
      </div>
      <div class="content">
        <form class="ui form" id='target'>
           <h4 class="ui head">
               文字说明
           </h4>
           <textarea name="info" id='info'></textarea>
           <h4 class="ui head">
               背景图片
           </h4>
           <input type="file" name="file" accept="image/*" id='file'>
           <div class="ui positive button" id='upload'>上传</div>
        </form>
      </div>
      <div class="actions">
        <div class="ui button">取消</div>
        <div class="ui positive button" id='submit'>确认</div>
      </div>
    </div>
{% endblock %}
{% block js %}
<script src="{{url_for("static", filename="js/jquery.liteuploader.js")}}"></script>
<script>
    var id = {{project | tojson}};
    function reload(){
        window.location.reload()
    }
    $('.ui.modal').modal()

    $('.button.up').click(function(){
        $.ajax('{{url_for("slide.slide_pictures_management", project=project)}}', {
            data: {
                "fid": $(this).parents('tr').data('fid'),
                "order": $(this).parents('tr').data('order') - 1
            },
            method: 'POST',
            success: reload
        });
    })
    $('.button.change').click(function(){
        $('#upload').remove();
        $('#file').remove()
        $('#target').append('<img class="ui small image" src="/f/'+$(this).parents('tr').data('fid')+'">').append('<input value="' + $(this).parents('tr').data('fid') + '" name="fid" hidden>')
        console.log($(this).parents('tr').data('info'))
        $('#info').val(JSON.parse('"'+ $(this).parents('tr').data('info') + '"'))
        $('#submit').unbind('click').click(function(){
            $('#target').addClass('loading')
            $.ajax('{{url_for("slide.slide_pictures_management", project=project)}}', {
                data: $('#target').serialize(),
                method: 'POST',
                success: reload
            });
        })
        $('.ui.modal').modal('show')
    })
    $('.button.del').click(function(){
        $.ajax('{{url_for("slide.slide_pictures_management", project=project)}}', {
            data: {
                "fid": $(this).parents('tr').data('fid'),
            },
            method: 'DELETE',
            success: reload
        });
    })
    $('.button.down').click(function(){
        var self = this;
        $.ajax('{{url_for("slide.slide_pictures_management", project=project)}}', {
            data: {
                "fid": $(this).parents('tr').data('fid'),
                "order": $(this).parents('tr').data('order') + 1
            },
            method: 'POST',
            success: reload
        });
    })
    $("#add").click(function(){
        $('.ui.modal').modal("show")
        $('#submit').unbind('click').click(function(){
            $('#target').addClass('loading')
            $.ajax('{{url_for("slide.slide_pictures_management", project=project)}}', {
                data: $('#target').serialize(),
                method: 'PUT',
                success: reload
            });
        })
    })
    $('input[type=file]').liteUploader({
        script: '/admin/upload',
        clickElement: $('#upload'),
        changeHandler: false
    }).on('lu:before', function(){
        $('#target').append('<div class="ui teal progress"><div class="bar"><div class="progress"></div></div></div>')
    }).on('lu:progress', function (e, percentage) {
        console.log(percentage)
        $('.ui.progress').progress({
            precent:percentage
        })
    }).on('lu:success', function(e, response){
        $('.ui.progress').hide(500)
        if (!response.err){
            $('input[type=file]').remove()
            console.log(response['fid'])
            $('#upload').remove()
            $('#target').append('<input value="' + response.fid + '" name="fid" hidden>').append('<img class="ui small image" src="/f/'+response.fid+'">')
        }
    })
</script>

{% endblock %}