<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="CNSS-qszy,CNSS-fceek,CNSS-42" />
<meta name="copyright" content="2014 Cnss@UESTC" />

<title>{{title}}</title>

<link rel="stylesheet" type="text/css" href="css/bgstretcher.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<style>
    {{css}}
</style>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bgstretcher.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
</head>
<body>
    <a href="javascript:void(0);" id="prev">‹</a>
    <a href="javascript:void(0);" id="next">›</a>
    
    <div class="intro">
    	<ul>
            {%for w in words%}
    		<li class="active">
    			<div class="tip">
					{{w}}
    			</div>
    		</li>
            {% endfor %}
    	</ul>
    </div>
    <audio src="demo.mp3" controls="controls" style="display: none;">
		Your browser does not support the audio element.
	</audio>
    <button id="stop">&boxV;</button>
    
    <script>
        $(document).ready(function() {
            //  Initialize Backgound Stretcher     
            $('BODY').bgStretcher({
                images: {{pics | tojson}},
                imageWidth: 1980,
                imageHeight: 1080,
                slideDirection: 'N',
                slideShowSpeed: 1000,
                transitionEffect: 'fade',
                sequenceMode: 'normal',
                buttonPrev: '#prev',
                buttonNext: '#next',
                nextSlideDelay: '10000',
                resizeProportionally: true,
                anchoring: 'center center',
                anchoringImg: 'center center'
            });

            var $intro = $('div.intro');
            var $li = $intro.find("li");
            var page = 1;
            var page_count = $li.length;
            var repeat = null;
            var $next = $('#next');
            var $prev = $('#prev');

            $('li').first().fadeIn(1000);

            function showIntro() {
                $next.click();
            }
            repeat = setInterval(showIntro, 10000);

            $next.click(function() {
                if (!$li.is(":animated")) {
                    if (page == page_count) {
                        page = 1;
                        $intro.find('li').eq(page - 1).fadeIn(1000).addClass("active").siblings().removeClass("active").fadeOut(300);
                    } else {
                        page++;
                        $('li.active').removeClass("active").fadeOut(300).next().addClass("active").fadeIn(1000);
                    }
                }
                clearInterval(repeat);
                repeat = setInterval(showIntro, 10000);
            });
            $prev.click(function() {
                if (!$li.is(":animated")) {
                    if (page == 1) {
                        page = page_count;
                        $intro.find('li').eq(page - 1).fadeIn(1000).addClass("active").siblings().removeClass("active").fadeOut(300);
                    } else {
                        page--;
                        $('li.active').removeClass("active").fadeOut(300).prev().addClass("active").fadeIn(1000);
                    }
                }
                clearInterval(repeat);
                repeat = setInterval(showIntro, 10000);
            });

            var audioElement = document.getElementsByTagName('audio')[0];

            function PlayAudio() {
                audioElement.load;
                audioElement.play();
            }

            function PauseAudio() {
                audioElement.pause();
            }

            PlayAudio();

            var $stop = $("#stop");
            $stop.toggle(function() {
                $(this).css("backgroundPosition", "5px -40px");
                PauseAudio();
            }, function() {
                $(this).css("backgroundPosition", "5px 10px");
                PlayAudio();
            });

        });
    </script>
</body>
</html>
